article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

/**
 * Basic styling
 */
html {
  font-size:62.5%;
}

body {
  font-size: $base-font-size;
  font-family: $pt-serif;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  hyphens: auto;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figure {
  margin: 0;
}

figcaption {
  font-size: $f-s;
}

small {
  font-size: $f-s;
}

/**
 * Lists
 */
ul, ol {
  list-style: none;
  margin-left: 0px;
  list-style-type: disc;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Blockquotes
 */
blockquote {
  color: darken($project-grey, 25%);
  border-left: 4px solid $project-grey;
  padding-left: $f-s;
  font-style: italic;
  margin-left: 0;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  border: 1px solid darken($project-grey, 5%);
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 2px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

