article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
  color: #fff;
}

/**
 * Basic styling
 */
html {
  font-size:62.5%;
}

body {
  font-size: $base-font-size;
  font-family: $sans-serif;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  color: $text-color;
  hyphens: auto;
  margin: 0;
  padding: 0;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  border-bottom: 1px solid darken(#fff, 5%);
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 4rem 0;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figure {
  margin: 0;
}

figcaption {
  font-size: $f-s;
}

small {
  font-size: $f-s;
}

/**
 * Lists
 */
ul, ol {
  list-style: none;
  margin-left: 0px;
  list-style-type: disc;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

ul.list--naked {
  list-style: none;
  padding-left: 0;
}

ul.list--extra-pad {
  li {
    margin-bottom: 0.3rem;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Blockquotes
 */
blockquote {
  color: darken($project-grey, 25%);
  border-left: 4px solid $project-grey;
  padding-left: $f-s;
  font-style: italic;
  margin-left: 0;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  border-radius: 3px;
  background-color: #FAFAFA;
  font-family: Consolas, Courier, sans-serif;
  padding: 0.5rem 0.75rem;
  color: $primary-color;
  margin: 0;
  font-size: $f-s;

  // background-color: #fdfdfd;
  // background-image: -webkit-linear-gradient(transparent 50%, rgba(69,142,209,0.04) 50%);
  // background-image: linear-gradient(transparent 50%, rgba(69,142,209,0.04) 50%);
  // background-size: 2em 2em;
  // background-origin: content-box;
}

pre {
  overflow-x: auto;
  padding: 1.5rem;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

  > code {
    color: $text-color;
    border: 0;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
  }
}

.site-inner {
  margin: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  border-color: #fff;
  min-height: calc(100vh - 30px);
  box-shadow: 0 0 20px 8px rgba(0,0,0,0.05);
  background: white;

  @include tablet {
    min-height: calc(100vh - 175px);
    padding-bottom: 70px;
    padding-top: 35px;
    margin: 35px;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.05);
  }
}

.m-site-header {
  @include tablet {
    padding-top: 15px;
  }
}

.post-header {
  padding-bottom: 20px;
}

