//**
// Typographic elements
//**

// Global Heading Resets

h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  line-height: 1;
  color: $project-black;
  font-weight: 700;
}

h1 {
  font-size: $f-xxl;
}

h2 {
  font-size: $f-l;
}

h3 {
  font-size: $f-m;
}

h4 {
  font-size: $f-base;
}

// Paragraphs

p, blockquote {
  line-height: $base-line-height;
  font-size: $base-font-size;

  &:not(:last-child) {
    margin-bottom: $base-font-size;
  }
}

// Anchors

a {
  color: #F05454;
  text-decoration: underline;
  text-decoration-skip: ink;
  hyphens: none;

  &:visited {
    color: lighten(#F05454, 5%);
    cursor: pointer;
  }

  &:hover {
    color: darken(#F05454, 5%);
    cursor: pointer;
  }
}

// Modifiers

// Create modifier classes based on map in config
@each $fontsize, $size in $fontsizes {
 .f--#{$fontsize} {
   font-size: $size; }
}
