//**
// Typographic elements
//**

// Global Heading Resets

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy-Bold";
  line-height: 1.5rem;
  color: $project-black;
  margin-top: 0.333rem;
  margin-bottom: 0.85rem;
  font-weight: 700;
}

h1 {
  font-size: $f-xl;
  margin-bottom: 1.3rem;
}

h2 {
  font-size: $f-l;
}

h3 {
  font-size: $f-m;
}

h4 {
  font-size: $f-s;
}

// Paragraphs

p, blockquote {
  font-size: $f-base;
  margin: 0 0 0.85rem 0;
}

// Anchors

a {
  color: $text-color-dark;
  text-decoration: underline;
  text-decoration-skip: ink;
  hyphens: none;

  &:visited {
    color: lighten($text-color, 5%);
    cursor: pointer;
  }

  &:hover {
    color: darken($text-color, 5%);
    cursor: pointer;
  }
}

// Modifiers

// Create modifier classes based on map in config
@each $fontsize, $size in $fontsizes {
 .f--#{$fontsize} {
   font-size: $size;
 }
}
