@charset "utf-8";

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/34ce95");

@font-face {font-family: 'Gilroy-SemiBold';src: url('../webfonts/34CE95_4_0.eot');src: url('../webfonts/34CE95_4_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_4_0.woff2') format('woff2'),url('../webfonts/34CE95_4_0.woff') format('woff'),url('../webfonts/34CE95_4_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Regular';src: url('../webfonts/34CE95_6_0.eot');src: url('../webfonts/34CE95_6_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_6_0.woff2') format('woff2'),url('../webfonts/34CE95_6_0.woff') format('woff'),url('../webfonts/34CE95_6_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Medium';src: url('../webfonts/34CE95_9_0.eot');src: url('../webfonts/34CE95_9_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_9_0.woff2') format('woff2'),url('../webfonts/34CE95_9_0.woff') format('woff'),url('../webfonts/34CE95_9_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Light';src: url('../webfonts/34CE95_B_0.eot');src: url('../webfonts/34CE95_B_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_B_0.woff2') format('woff2'),url('../webfonts/34CE95_B_0.woff') format('woff'),url('../webfonts/34CE95_B_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Heavy';src: url('../webfonts/34CE95_D_0.eot');src: url('../webfonts/34CE95_D_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_D_0.woff2') format('woff2'),url('../webfonts/34CE95_D_0.woff') format('woff'),url('../webfonts/34CE95_D_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-ExtraBold';src: url('../webfonts/34CE95_F_0.eot');src: url('../webfonts/34CE95_F_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_F_0.woff2') format('woff2'),url('../webfonts/34CE95_F_0.woff') format('woff'),url('../webfonts/34CE95_F_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Bold';src: url('../webfonts/34CE95_11_0.eot');src: url('../webfonts/34CE95_11_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_11_0.woff2') format('woff2'),url('../webfonts/34CE95_11_0.woff') format('woff'),url('../webfonts/34CE95_11_0.ttf') format('truetype');}
@font-face {font-family: 'Gilroy-Black';src: url('../webfonts/34CE95_13_0.eot');src: url('../webfonts/34CE95_13_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/34CE95_13_0.woff2') format('woff2'),url('../webfonts/34CE95_13_0.woff') format('woff'),url('../webfonts/34CE95_13_0.ttf') format('truetype');}

// Define defaults for each variable.

$base-font-family: Arial;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     15px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
