//**
// Global Settings
//**

// Global Font Imports
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');



// Global Responsive Breakpoints
$mobile-break: 30rem;
$tablet-break: 45rem;
$desktop-break: 60rem;
$large-desktop-break: 73.13rem;

// Global Color Variables (need to add / remove values to map _maps.scss)
$primary-color: #FDB62B;
$project-grey: #eee;
$project-black: #2C363F;
$project-white: #fff;
$text-color: #25292E;
$text-color-dark: #25292E;

// Global Sizing Variables (need to add / remove values to map _maps.scss)
$f-xxl: 4.5rem;
$f-xl: 4rem;
$f-l: 3.25rem;
$f-m: 1.95rem;
$f-base: 1.6rem;
$f-s: 1.25rem;
$f-xs: 0.875rem;
$f-xxs: 0.75rem;

// Global Font Variables
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: 'Playfair Display', sans-serif;
$pt-serif: "pt-serif", serif;
$sans-serif: "Open Sans", sans-serif;

$base-font-size: $f-base;
$base-line-height: 1.6;
$base-font-weight: normal;

// Include Specific Modules
@import "mixins";
@import "maps";
