---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <a href="{{ "/" | relative_url }}"><small>← all gists</small></a>

  <header class="post-header">
    <h2 itemprop="name headline" style="margin-bottom: 10px;">{{ page.title | escape }}</h2>
    <span class="post-meta">

      {% for tag in page.tags %}
        <small class="tag post-meta" style="background: #ED9240; border-radius: 2px; padding: 2px 5px; color: white;">{{ tag }}</small>
      {% endfor %}

  </header>

  <div class="post-content" itemprop="articleBody">

    {{ content }}
  </div>

</article>
