---
layout: default
---

<div class="home">

    {{ content }}

<!--     <div class="g">
      <div class="col-6">
        <h2>Welcome!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation.</p>
      </div>
    </div> -->

    <h2 class="page-heading">Latest Posts</h2>
    <p>A list of recent posts i've been working on</p>
    <ul class="list--naked">
        {% for post in site.posts %}
            <li>
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                <br/><small class="post-meta">{{ post.date | date: date_format }}</small>
            </li>
        {% endfor %}

        <a href="#"><small>View all posts</small></a>
    </ul>

    <h2 class="page-heading">Latest Gists</h2>
    <p>A list of gists i find helpful for my daily workflow</p>
    <ul class="list--naked list--extra-pad">
        {% for gist in site.gists %}
        <li>
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <a class="post-link" href="{{ gist.url | relative_url }}">{{ gist.title }}</a>

            {% for tag in gist.tags %}
                <small class="tag post-meta" style="background: #ED9240; border-radius: 2px; padding: 2px 5px; color: white;">{{ tag }}</small>
            {% endfor %}
        </li>
        {% endfor %}
        <a href="#"><small>View all gists</small></a>
    </ul>
