---
layout: default
---

{% assign date_format = site.minima.date_format | default: "%-d %B %Y" %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 style="margin-bottom: 10px;" itemprop="name headline">{{ page.title | escape }}</h1>
    {% if page.date %}
      <span style="font-family: Consolas, Courier, sans-serif; color: #aaa;">Last Updated: 6 October 2017</span>
    {% endif %}
  </header>

  <div class="g">
    <div class="col-full col-9--m col-order--second col-order--first--m u-unstyled-links">
      <div class="post-content" itemprop="articleBody">
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    <div class="col-full col-3--m col-order--first col-order--second--m" style="margin-top: 2rem;"">
      <div style="font-family: Consolas, Courier, sans-serif;" class="u-text-right--m">
        {% if page.type == 'learning' %}
          {% if page.goal %}
           <strong>Goal:</strong><br/>{{ page.goal }}<br/><br/>
            {% endif %}
            {% if page.date %}
           <strong>Date started:</strong><br/>{{ page.date | date: date_format }}<br/><br/>
            {% endif %}
            {% if page.timeSpent %}
           <strong>Time spent:</strong><br/>{{ page.timeSpent }}
          {% endif %}

          <ul class="list--naked">
            <strong>Series:</strong>
            <li><a href="#">1 - The Basics</a></li>
            <li><a href="#">2 - Repeating Grid Tracks</a></li>
            <li><a href="#">3 - Gutters</a></li>
            <li><a href="#">4 - Spanning Items</a></li>
            <li><a href="#">5 - Naming Grid Lines</a></li>
            <li><a href="#">6 - Advanced Shit</a></li>
          </ul>

          <strong>Repo:</strong><br/>
          <a href="#">samuelgoddard/css-grid</a>

          {% else %}
            <strong>Date created:</strong><br/>{{ page.date | date: date_format }}<br/><br/>

            <strong>Article by:</strong><br/>{{ page.author }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>
